// Whites
$white: #FFFFFF;

// Blacks
$black: #1E1E20;
$black-light: #2A2C2B;

// Blues
$blue: #1997C6;
$blue-dark: #252830;


// Greys
$grey: #374140;
$grey-dark: #2F3837;
$grey-light: #4D5464;
$grey-lightest: #CDD0D8;

// Greens
$green: #00A388;
$green-dark: #003840;