// Font Families
$header-font: "Source Sans Pro", sans-serif;
$subheader-font: "Miriam Libre", sans-serif;
$content-font: "Open Sans", sans-serif;

// Font weights
$light: 100;
$medium: 300;
$heavy: 500;