// Vertical margins
$vmargin-sm: 10px 0 10px 0;
$vmargin-md: 20px 0 20px 0;
$vmargin-lg: 30px 0 30px 0;

// Horizontal margins
$hmargin-sm: 0 10px 0 10px;
$hmargin-md: 0 10px 0 10px;
$hmargin-lg: 0 10px 0 10px;