@import 'modules/colors';
@import 'modules/fonts';
@import 'modules/margins';

/*
  ____            _       
 |  _ \          | |      
 | |_) | ___   __| |_   _ 
 |  _ < / _ \ / _` | | | |
 | |_) | (_) | (_| | |_| |
 |____/ \___/ \__,_|\__, |
                     __/ |
                    |___/ 
*/
// Body
html, body{
    height: 100%;
}
// Site background color and font
body {
    background: $black;
    font-family: $content-font;
    -webkit-backface-visibility: hidden;
}

/*
   _____                _ _ _                
  / ____|              | | | |               
 | (___   ___ _ __ ___ | | | |__   __ _ _ __ 
  \___ \ / __| '__/ _ \| | | '_ \ / _` | '__|
  ____) | (__| | | (_) | | | |_) | (_| | |   
 |_____/ \___|_|  \___/|_|_|_.__/ \__,_|_|   
                                             
                                             
*/
// Scrollbar
// Scrollbar style on webkit browsers
::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: $blue-dark;
}
 
::-webkit-scrollbar-thumb {
  background: $black;
  outline: 1px solid slategrey;
}

// Color when highlighting text
::selection {
    color: $white;
    background: $blue;
}

/*
  _   _             _             _   _             
 | \ | |           (_)           | | (_)            
 |  \| | __ ___   ___  __ _  __ _| |_ _  ___  _ __  
 | . ` |/ _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \ 
 | |\  | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |
 |_| \_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_|
                       __/ |                        
                      |___/                         
*/
// Navigation
.content-nav {
    height: 100%;
    width: 100px;
    padding: 0;
    position: fixed;
    background: $blue-dark;
    text-align: center;
    
    .logo {
        width: 100%;
        color: $white;
        font-size: 40px;
        
        img {
            width: 50px;
            height: 50px;
            border-radius: 40px;
        }
        
        a {
            color: $white;
        }
        
        a:hover {
            color: $grey-lightest;
        }
    }
    
    ul {
        color: $white;
        padding: 0;
        list-style: none;
        
        a {
            width: 100%;
            height: 80px;
            color: $white;
            text-decoration: none;
            display: block;
            
            .content-icons {
                padding-top: 20px;
            }
        }
        
        a.active {
            background: $black;
        }
        
        a:hover {
            background: $black;
        }
    }
}

.account-nav {
    @extend .content-nav;
    right: 0;
    
    ul {
        color: $white;
        font-size: 25px;
        padding: 0;
        list-style: none;
        
        a {
            width: 100%;
            height: 80px;
            line-height: 80px;
            color: $white;
            text-decoration: none;
            display: block;
        }
        
        a.active {
            background: $black;
        }
        
        a:hover {
            background: $black;
        }
    }
}

/*
   _____      _                
  / ____|    | |               
 | |     ___ | | ___  _ __ ___ 
 | |    / _ \| |/ _ \| '__/ __|
 | |___| (_) | | (_) | |  \__ \
  \_____\___/|_|\___/|_|  |___/
                               
                               
*/
// Colors
// Font colors
.font-white { color: $white; }
.font-black { color: $black; }
.font-black_light { color: $black-light; }
.font-blue { color: $blue; }
.font-blue_dark { color: $blue-dark; }
.font-grey { color: $grey; }
.font-grey_dark { color: $grey-dark; }
.font-grey_light { color: $grey-light; }
.font-grey_lightest { color: $grey-lightest; }
.font-green { color: $green; }
.font-green_dark { color: $green-dark; }
.font-red { color: $red; }

/*
  _______                                      _           
 |__   __|                                    | |          
    | |_   _ _ __   ___   __ _ _ __ __ _ _ __ | |__  _   _ 
    | | | | | '_ \ / _ \ / _` | '__/ _` | '_ \| '_ \| | | |
    | | |_| | |_) | (_) | (_| | | | (_| | |_) | | | | |_| |
    |_|\__, | .__/ \___/ \__, |_|  \__,_| .__/|_| |_|\__, |
        __/ | |           __/ |         | |           __/ |
       |___/|_|          |___/          |_|          |___/ 
*/
// Typography
// Font families
.font-header { font-family: $header-font; }
.font-subheader { font-family: $subheader-font; }
.font-content { font-family: $content-font; }

// Font weights
.font-light { font-weight: $light; }
.font-medium { font-weight: $medium; }
.font-heavy { font-weight: $heavy; }

// Default links
a, a:hover {
    color: $blue;  
}
/*
  __  __                 _           
 |  \/  |               (_)          
 | \  / | __ _ _ __ __ _ _ _ __  ___ 
 | |\/| |/ _` | '__/ _` | | '_ \/ __|
 | |  | | (_| | | | (_| | | | | \__ \
 |_|  |_|\__,_|_|  \__, |_|_| |_|___/
                    __/ |            
                   |___/             
*/
// Margins
// Vertical margins
.vertical-sm { margin: $vmargin-sm; }
.vertical-md { margin: $vmargin-md; }
.vertical-lg { margin: $vmargin-lg; }

// Horizontal margins
.horizontal-sm { margin: $hmargin-sm; }
.horizontal-md { margin: $hmargin-md; }
.horizontal-lg { margin: $hmargin-lg; }

// Horizontal lines
.horizontaline-sm { border-bottom: 1px dotted $white; margin: 10px;}

// Divider lines
.divider-line {
    border-bottom: 2px solid $grey-light;
}
/*
  __  __                                     
 |  \/  |                                    
 | \  / | ___  ___ ___  __ _  __ _  ___  ___ 
 | |\/| |/ _ \/ __/ __|/ _` |/ _` |/ _ \/ __|
 | |  | |  __/\__ \__ \ (_| | (_| |  __/\__ \
 |_|  |_|\___||___/___/\__,_|\__, |\___||___/
                              __/ |          
                             |___/           
*/
// Messages
.message {
    width: 20%;
    display: block;
    overflow: auto;
    color: $white;
    border-radius: 5px;
    font-family: $content-font;
    animation: message-fade 2s linear forwards;
    animation-delay: 1.5s;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 10px 10px 0;
}

.message-content {
    padding: 5px;
    text-align: center;
}

.success-message {
    @extend .message;
    background-color: $green;
}

.error-message {
    @extend .message;
    background-color: $red;
}

.warning-message {
    @extend .message;
    background-color: $yellow;
}

@keyframes message-fade{
    from { opacity: 1; }
    to { opacity: 0; }
}

/*
  _    _                        _____                 
 | |  | |                      |  __ \                
 | |__| | ___  _ __ ___   ___  | |__) |_ _  __ _  ___ 
 |  __  |/ _ \| '_ ` _ \ / _ \ |  ___/ _` |/ _` |/ _ \
 | |  | | (_) | | | | | |  __/ | |  | (_| | (_| |  __/
 |_|  |_|\___/|_| |_| |_|\___| |_|   \__,_|\__, |\___|
                                            __/ |     
                                           |___/      
*/
// Home page
.search {
    .form-control {
        border: 0px;
        background: rgba(0, 0, 0, 0);
    }
    
    .form-control:focus {
        border: 0px;
        background: rgba(0, 0, 0, 0);
    }
    
    .search-icon {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.upload-link {
    -webkit-transform: translate(0px, 0px);
    -webkit-transition: transform .2s;
}

.upload-link:hover {
    -webkit-transform: translate(0px, -3px);
    -webkit-transition: transform .2s;
    
    a {
        text-decoration: none;
    }
}

.user-list {
    height: 250px;
    
    .content-blackbox {
        width: 100%;
        height: 100%;
        
        a:hover, a:focus {
            text-decoration: none;
            
            img {
                border: 4px solid $blue;
            }
            
            span {
                color: $blue;
            }
        }
        
        img {
            width: 50px;
            height: 50px;
            border: 4px solid $white;
            border-radius: 50%;
        }
    }
}

.partner-list {
    @extend .user-list;
    height: auto;
    
    .content-blackbox {
        img {
            border: 4px solid $red;
        }
        
        span {
            color: $red;
        }
        
        i {
            color: $red;
            position: absolute;
            right: 25px;
            bottom: 18px;
        }
        
        a:hover, a:focus {
            img {
                border: 4px solid $yellow;
            }
            
            span {
                color: $yellow;
            }
            
            i {
                color: $yellow;
            }
        }
    }
}

.admin-list {
    @extend .user-list;
    height: auto;
    
    .content-blackbox {
        img {
            border: 4px solid $green;
        }
        
        span {
            color: $green;
        }
        
        a:hover, a:focus {
            img {
                border: 4px solid $green-dark;
            }
            
            span {
                color: $green-dark;
            }
        }
    }
}

.post {
    @extend .content-blackbox;
    
    position: relative;
    .post-title {
        color: $grey-light;
        text-decoration: none;
    }
    
    .post-title:hover {
        color: $white;
    }
    
    .language {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
    }
    
    .post-user {
        @extend .post-title;
        color: $grey-lightest;
    }
    
    .post-user:hover {
        color: $white;
    }
}

.post-sponsor {
    @extend .post;
    @extend .content-blackbox;
    background: $red !important;
    
    .post-title {
        color: $white;
    }
    
    .post-user {
        color: $grey-lightest;
    }
    
    .sponsor {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        border-radius: 10px;
        color: $yellow;
    }
}

.pagination {
    .page-item {
        .page-link {
            color: $white;
            border: 1px solid $grey;
            background-color: $blue-dark;    
        }
        
        .page-link:hover {
            background-color: $grey;    
        }
    }
}

/*
           _                 _     _____                 
     /\   | |               | |   |  __ \                
    /  \  | |__   ___  _   _| |_  | |__) |_ _  __ _  ___ 
   / /\ \ | '_ \ / _ \| | | | __| |  ___/ _` |/ _` |/ _ \
  / ____ \| |_) | (_) | |_| | |_  | |  | (_| | (_| |  __/
 /_/    \_\_.__/ \___/ \__,_|\__| |_|   \__,_|\__, |\___|
                                               __/ |     
                                              |___/      
*/
// About page
// Info boxes
div {
    .info-box {
        width: 100%;
        height: 100%;
        position: relative;
        opacity: 0;
        animation: zipup 1s ease-in forwards;
        box-shadow: 0 2px 8px rgba(0,0,0,.5);
        background-color: $blue-dark;
    }
    
    .info-box.first {
        animation-delay: 0s;  
    }
    
    .info-box.second {
        animation-delay: .5s;    
    }
    
    .info-box.third {
        animation-delay: 1s;    
    }
}

.info-box {
    .info-bar {
        width: 100%;
        height: 20%;
        padding: 10px 10px 0 10px;
        display: flex;
        align-items: center;
        background-color: $black;
        
        span {
            position: absolute; 
            right: 0; 
            padding: 0 20px 10px 0; 
            font-size: 25px;    
        }
    }
    
    .info-content {
        padding: 10px;
    }
}

// Animation for info boxes
@keyframes zipup{
    from {opacity: 0; top: 20px;}
    to {opacity: 1; top: 0;}
}

// Opaque blackbox container
.content-blackbox {
    display: block;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    background-color: $blue-dark;
    box-shadow: 0 2px 8px rgba(0,0,0,.5);
    
    form {
        width: 100%;
        input {
            width: 100%;
        }
    }
}

// Console windows
.console-window {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background-color: $black-light;
    
    .top-bar {
        width: 100%;
        height: 20%;
        font-size: 8px;
        border-radius: 5px 5px 0 0;
        background-color: $grey;
        
        span {
            position: absolute;
        }
        
        span:nth-child(1) {
            left: 20px; 
            top: 10px; 
            padding: 5px;
            color: $red;
        }
        
        span:nth-child(2) {
            left: 30px; 
            top: 10px; 
            padding: 5px; 
            color: $yellow;
        }
        
        span:nth-child(3) {
            left: 40px; 
            top: 10px; 
            padding: 5px;
            color: $grey-light;
        }
    }
    
    .console-numbers {
        width: 10%;
        height: 80%;
        float: left;
        border-radius: 0 0 0 5px;
        background-color: $grey-dark;
    }
    
    .console-content {
        overflow: auto;
        width: 90%;
        height: 80%;
        float: left;
        font-size: 12px;
    }
}

/*
  _____            __ _ _        _____                 
 |  __ \          / _(_) |      |  __ \                
 | |__) | __ ___ | |_ _| | ___  | |__) |_ _  __ _  ___ 
 |  ___/ '__/ _ \|  _| | |/ _ \ |  ___/ _` |/ _` |/ _ \
 | |   | | | (_) | | | | |  __/ | |  | (_| | (_| |  __/
 |_|   |_|  \___/|_| |_|_|\___| |_|   \__,_|\__, |\___|
                                             __/ |     
                                            |___/      
*/
// Profile page
.profile-img {
    width: 230px;
    height: 230px;
    
    img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}

.details {
    position: relative;
    .edit-details {
        color: $grey-light;
        font-size: 25px;
        opacity: 0;
        position: absolute;
        right: 0;
    }
}

.details:hover {
    .edit-details {
        opacity: 1;
    }
    
    .edit-details:hover {
        color: $white;
    }
}

.details-partner {
    @extend .details;
    
    .content-blackbox {
        background: $red;
    }
    
    h2 {
        color: $red;
    }
    
    span {
        color: $grey-light;
    }
}

.post {
    .edit-submission {
        color: $grey-light;
        font-size: 25px;
        opacity: 0;
        position: absolute;
        top: 25px;
        right: 30px;
    }
    
    .edit-submission:hover {
        color: $white;
    }
    
    .delete-submission {
        @extend .edit-submission;
        right: 5px;
    }
    
    .delete-submission:hover {
        color: $red;
    }
}

.post:hover {
    .edit-submission {
        opacity: 1;
    }
}

/*
  _____       _        _ _       _____                 
 |  __ \     | |      (_) |     |  __ \                
 | |  | | ___| |_ __ _ _| |___  | |__) |_ _  __ _  ___ 
 | |  | |/ _ \ __/ _` | | / __| |  ___/ _` |/ _` |/ _ \
 | |__| |  __/ || (_| | | \__ \ | |  | (_| | (_| |  __/
 |_____/ \___|\__\__,_|_|_|___/ |_|   \__,_|\__, |\___|
                                             __/ |     
                                            |___/      
*/
// Details page
.edit-avatar {
    label {
        width: 100%;
        border-radius: 10px;
        background: $green;
    }
    
    label:hover {
        cursor: pointer;
        background: $green-dark;
    }
}

/*
  _____          _     _____                 
 |  __ \        | |   |  __ \                
 | |__) |__  ___| |_  | |__) |_ _  __ _  ___ 
 |  ___/ _ \/ __| __| |  ___/ _` |/ _` |/ _ \
 | |  | (_) \__ \ |_  | |  | (_| | (_| |  __/
 |_|   \___/|___/\__| |_|   \__,_|\__, |\___|
                                   __/ |     
                                  |___/      
*/
// Post page
.post-content {
    border: 1px solid $grey-light;
    border-radius: 10px;
    margin: 0 20px 0 20px;
    
    p {
        padding: 10px;
        margin-bottom: 0;
    }
}

/*
   _____            _             _   _____                 _ 
  / ____|          | |           | | |  __ \               | |
 | |     ___  _ __ | |_ _ __ ___ | | | |__) |_ _ _ __   ___| |
 | |    / _ \| '_ \| __| '__/ _ \| | |  ___/ _` | '_ \ / _ \ |
 | |___| (_) | | | | |_| | | (_) | | | |  | (_| | | | |  __/ |
  \_____\___/|_| |_|\__|_|  \___/|_| |_|   \__,_|_| |_|\___|_|
                                                              
                                                              
*/
// Control panel
.table {
    box-shadow: 0 2px 8px rgba(0,0,0,.5);
    
    th {
        border: 0px;
        
        a {
            color: $grey-light;
            font-size: 20px;
        }
        
        a:hover {
            color: $white;
        }
    }
}
.table-inverse {
    background-color: $blue-dark;
}

/*
  ____              _       _                   
 |  _ \            | |     | |                  
 | |_) | ___   ___ | |_ ___| |_ _ __ __ _ _ __  
 |  _ < / _ \ / _ \| __/ __| __| '__/ _` | '_ \ 
 | |_) | (_) | (_) | |_\__ \ |_| | | (_| | |_) |
 |____/ \___/ \___/ \__|___/\__|_|  \__,_| .__/ 
                                         | |    
                                         |_|    
*/
// Bootstrap
// Background color of input fields 
.form-control {
    color: $grey-lightest;
    background-color: #434857;
}

// Input field text color when focused on
.form-control:focus {
  color: $grey-lightest;
  background-color: #434857;
  border-color: #5cb3fd;
  outline: none;
}

// Color of the placeholder text in input fields
.form-control::-webkit-input-placeholder { 
    color: $grey-lightest; 
}

.form-control:-moz-placeholder { 
    color: $grey-lightest; 
}

.form-control::-moz-placeholder { 
    color: $grey-lightest; 
}

.form-control:-ms-input-placeholder { 
    color: $grey-lightest; 
}

// Color of button type primary
.btn-primary {
    color: $grey-lightest;
    background-color: $blue;
    border-color: $blue;
}

.btn-primary:hover, .btn-primary.active {
    color: $white;
    background-color: #197CC6;
    border-color: #197CC6;
}